.navbar{
    box-shadow: 2px 2px 5px orangered;
    background:whitesmoke;
    opacity: 0.9;
  }
  .nav-item{
    font-size: 1.4rem;
    padding-right:20px;
  }
 #banner{
    position: relative;
  
    background: url('an.jpeg') no-repeat center fixed; 
    background-size: cover;
    min-height: 800px;
    	

 }
 .primary-overlay{
  background-color: rgba(102, 98, 44, 0.7);
    min-height: 700px;
    position:absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
  
  }
  body{
    margin-top: 90px;
  }
